$sizes: (0, 5, 10, 15, 20, 25, 30, 40, 50);
$positions: ('top', 'left', 'bottom', 'right');

@each $size in $sizes {
  @each $position in $positions {
    .m#{str-slice($position, 0, 1)}-#{$size} {
      margin-#{$position}: $size + px !important;
    }
    .m-#{$size} {
      margin: $size + px !important;
    }
    .p#{str-slice($position, 0, 1)}-#{$size} {
      padding-#{$position}: $size + px !important;
    }
    .p-#{$size} {
      padding: $size + px !important;
    }
  }
}