.post-container {
  overflow: hidden;
  background-color: $white;
  #post-carousel {
    position: relative;
    .navigation-arrows {
      width: 100%;
      top: calc(50% - 12px);
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: space-between;
    }
    .dots {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      li {
        width: 10px;
        height: 10px;
        background-color: #000000;
        display: inline-block;
        margin: 5px;
        border: 1px solid #8b8b8b;
        border-radius: 100%;
        cursor: pointer;
        &.active {
          background-color: $light
        }
      }
    }
  }

  .user-info {
    border-bottom: 1px solid #efefef;
  }

  .comments-container {
    overflow-y: auto;
    max-height: 340px;
  }

  .write-comment-container {
    input {
      border: none;
      border-radius: 0;
      padding: 25px 15px;
      &:focus {
        border: none
      }
    }
  }
}